<header style="background: #fff;">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../assets/images/logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Store <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Product & Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help & Support</a>
          </li>
        </ul>
        <div class="search-container">
          <form action="/search" method="get">
            <input class="search expandright" id="searchright" type="search" name="q" placeholder="Search">
            <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
          </form>

        </div>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Personal
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</header>
<div class="container">
  <div class="row">
    <div class="back-bg">
      <h4>What are you <br> <strong>here to do ?</strong></h4>

      <div class="owl-carousel mt-5 pt-5">
        <div>
          <div class="cell">
            <div class="cell-content">
              <img src="../assets/images/image-center.png">
              <h2>
              Get a Device
              </h2>
              <button type="button" class="btn-white btn">Start Here ></button>
            </div>
          </div>
        </div>
        <div>
          <div class="cell">
            <div class="cell-content">
              <img src="../assets/images/image-center.png">
              <h2>
                Add a Phone Line
              </h2>
              <button type="button" class="btn-white btn">Start Here ></button>
            </div>
          </div>
        </div>
        <div>
          <div class="cell">
            <div class="cell-content">
              <img src="../assets/images/image-center.png">
              <h2>
                Upgrade
              </h2>
              <button type="button" class="btn-white btn">Start Here ></button>
            </div>
          </div>
        </div>
        <div>
          <div class="cell">
            <div class="cell-content">
              <img src="../assets/images/image-center.png">
              <h2>
                Home Internet
              </h2>
              <button type="button" class="btn-white btn">Start Here ></button>
            </div>
          </div>
        </div>
        <div>
          <div class="cell">
            <div class="cell-content">
              <img src="../assets/images/image-center.png">
              <h2>
                Home Internet
              </h2>
              <button type="button" class="btn-white btn">Start Here ></button>
            </div>
          </div>
        </div>
        <div>
          <div class="cell">
            <div class="cell-content">
              <img src="../assets/images/image-center.png">
              <h2>
                Home Internet
              </h2>
              <button type="button" class="btn-white btn">Start Here ></button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
